*,
::after,
::before {
    box-sizing: border-box;
}

body {
    background-color: #2C3333 !important;
}

#mainWrapper {
    max-width: 1000px;
    margin: 80px auto;
    padding: 20px;
}

#task-list li {
    position: relative;
    list-style: none;
    border-radius: 5px;
    margin-bottom: 8px;
    padding: 5px 22px;
}

#task-list li.parent {
    margin-top: 15px;
    background-color: #A5C9CA;
}

#task-list li.child {
    margin-left: 80px;
    background-color: #E7F6F2;
}

#task-list li input {
    border: none;
    outline: none
}

#task-list li::before {
    content: url(../static/drag-handle-svgrepo-com.png);
    position: absolute;
    top: -14px;
    bottom: 0;
    left: -387px;
    transform: scale(0.021);
}

#task-list li.parent input {
    background-color: #A5C9CA;
}

#task-list li.child input {
    background-color: #E7F6F2;
}