*,
::after,
::before {
    box-sizing: border-box;
}

body {
    background-color: #2C3333 !important;
}

#mainWrapper {
    max-width: 1000px;
    margin: 80px auto;
    padding: 20px;
}

#task-parent-list li {
    position: relative;
    list-style: none;
    border-radius: 5px;
    margin-bottom: 8px;
    padding: 5px 22px;
}

#task-parent-list li {
    margin-top: 15px;
    background-color: #A5C9CA;
}

#task-parent-list li {
    margin-left: 80px;
    background-color: #E7F6F2;
}

#task-parent-list li input {
    border: none;
    outline: none
}

#task-parent-list li input {
    background-color: #A5C9CA;
}

#task-parent-list li input {
    background-color: #E7F6F2;
}